.button {
  background: $blue;
  border: none;
  font-size: $font-size-large;
  padding: $s-size;
  color: white;
  font-weight: 300;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--secondary{
  background-color: #888888;
}
